/* You can add global styles to this file, and also import other style files */

// Import library functions for theme creation.
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-teal, 600);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$theme: mat-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);


html, body { height: 100%; }
body { margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #121212;
}

@import 'uikit-3.6.18/css/uikit.css';